:root {
	/* PrimaryColor */
	--PrimaryColor: #d53c3c;
	--PrimaryColorText: #2e2e2e;
	/* BGColor */
	--ColorThemes0: #1c1c19;
	--ColorThemes1: #21221d;
	--ColorThemes2: #2e2e2e;
	/* TextColor */
	--ColorThemes3: #f3f3f3;

  --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04),0px 0px 2px rgba(0, 0, 0, 0.06),0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04),0px 2px 6px rgba(0, 0, 0, 0.04),0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04),0px 2px 6px rgba(0, 0, 0, 0.04),0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.09),0px 16px 24px rgba(0, 0, 0, 0.09),0px 4px 8px rgba(0, 0, 0, 0.09),0px 0px 1px rgba(0, 0, 0, 0.09);
  --card-border-radius: 20px;
  --border-radius: 15px;
  --border-radius-2: 15px;
  --section-separation: 40px;

  --card-background: #21221d;
  --card-background-2: #2e2e2e;
  --card-background-3: #d53c3c;
  --card-background-3: linear-gradient(140deg, #d93333, #b91d1d);
  --card-background-4: #272822;
  --card-background-5: #d53c3c;
  --card-background-6: #1c1c19;
  --card-text-color: #efefef;
  --card-text-color-2: #efefef;
  --card-text-color-3: #d1d1d1 !important;
  --card-text-color-4: #efefef;
  --image-filter: grayscale(20%);

  --card-background_loader: #1b1c16;
}
#preloader_preload{
  background: url('../img/1.gif');
}
/* #preloader_video_1{
  display: none;
}
#preloader_video_2{
  display: none;
} */
/* .article {
  filter: grayscale(20%);
}
img:not([src*=".svg"]) {
  filter: var(--image-filter);
} */
